################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Arquivos-SistemaBaterPonto/Api-Sistema/.vs/ProjectEvaluation/sistemabaterponto.metadata.v5.2
/Arquivos-SistemaBaterPonto/Api-Sistema/.vs/ProjectEvaluation/sistemabaterponto.projects.v5.2
/Arquivos-SistemaBaterPonto/Api-Sistema/.vs/SistemaBaterPonto/DesignTimeBuild/.dtbcache.v2
*.vsidx
/Arquivos-SistemaBaterPonto/Api-Sistema/.vs/SistemaBaterPonto/v17/TestStore/0/001.testlog
/Arquivos-SistemaBaterPonto/Api-Sistema/.vs/SistemaBaterPonto/v17/.futdcache.v2
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Api/bin/Debug/net6.0/BaterPonto.Infra.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Api/bin/Debug/net6.0/BaterPonto.Infra.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Api/obj/Debug/net6.0/BaterPonto.Api.csproj.AssemblyReference.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Application/obj/Debug/net6.0/BaterPonto.Application.csproj.AssemblyReference.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Infra2/bin/Debug/net6.0/BaterPonto.Infra.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Infra2/bin/Debug/net6.0/BaterPonto.Infra.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Infra2/obj/Debug/net6.0/BaterPonto.Infra.csproj.AssemblyReference.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Infra2/obj/Debug/net6.0/BaterPonto.Infra.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Infra2/obj/Debug/net6.0/BaterPonto.Infra.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/BaterPonto.Infra.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/BaterPonto.Infra.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/BaterPonto.Testes.deps.json
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/BaterPonto.Testes.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/BaterPonto.Testes.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/xunit.assert.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/xunit.execution.dotnet.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/Debug/net6.0/BaterPonto.Testes.assets.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/Debug/net6.0/BaterPonto.Testes.csproj.AssemblyReference.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/Debug/net6.0/BaterPonto.Testes.csproj.CoreCompileInputs.cache
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/Debug/net6.0/BaterPonto.Testes.dll
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/Debug/net6.0/BaterPonto.Testes.pdb
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/BaterPonto.Testes.csproj.nuget.dgspec.json
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/BaterPonto.Testes.csproj.nuget.g.props
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/BaterPonto.Testes.csproj.nuget.g.targets
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/project.assets.json
/Arquivos-SistemaBaterPonto/Api-Sistema/BaterPonto.Testes/obj/project.nuget.cache
