<!-- Page Content -->
<div class="container main-container">
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="/assets/Registro-de-Ponto-Eletrônico-1.webp" height="164px" width="253px" alt="">
              <div class="card-body">
                <h4 class="card-title">Registrar Horário</h4>
                <p class="card-text">Clicando no botão abaixo você será redirecionado para a tela de registro de horário de entrada ou saída da empresa</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Marcar ponto</a>
              </div>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/realizarCadastro.png" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Área de Cadastro</h4>
                    <p class="card-text">Clicando no botão abaixo você será redirecionado para a tela de cadastros e alteração de funcionários e cargos</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Área de Cadastro</a>
                </div>
            </div>
        </div>
    </div>  
</div>    
<!-- Fim Content -->  